.Rproj.user
.Rhistory
.RData
.Ruserdata
**/traffic-analysis/output
**/traffic-analysis/data
**/toponimi/data/geonames
**/toponimi/output/geonames/cropped
**/toponimi/output/geonames/twitter
**/toponimi/tweet.docx