.Rproj.user
.Rhistory
.RData
.Ruserdata
**/traffic-analysis/output
/traffic-analysis/data
!/traffic-analysis/data/bandung_ref.rds
**/toponimi/data/geonames
**/toponimi/output/geonames/cropped
**/toponimi/output/geonames/twitter
**/toponimi/tweet.docx
**/indische-buurten/data
**/indonesian-recipe/
**/topo/
**/30daymapchallenge/
**/flowmap/data/tutorial/
**/flowmap/output/he
**/flowmap/output/fd
**/z_data-source/
**/public-transportation/jakarta-train/data/raw/
**/public-transportation/jakarta-train/output/pdf/
**/public-transportation/jakarta-train/output/png/
**/jkt-then-now/data/vector/source_old/
**/jkt-then-now/data/vector/source_new/
**/jkt-then-now/data/raster/